#block_data {
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fffffe;
    color: #272343;
}

.separator_line {
    width: 100%;
}